/* Start of M269-23J notebook styling. */

/*
By default, numbered lists use letters and Roman digits in levels 2, 3 and 4.
Change to decimal digits to match numbering in PDF and HTML book versions.
*/
.rendered_html ol ol {list-style:decimal;}
.rendered_html ol ol ol {list-style:decimal;}
.rendered_html ol ol ol ol {list-style:decimal;}

/* By default, horizontal lines are very light grey. Change to black. */
.rendered_html hr {border-top: 1px solid black;}

/* End of M269-23J notebook styling. */
